@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Nanum+Myeongjo&display=swap");

@tailwind base;
@layer base {
  @font-face {
    font-family: "panama";
    font-display: swap;
    font-style: normal;
    src: url("../fonts/PanamaRegular.woff");
  }

  @font-face {
    font-family: "panama";
    font-display: swap;
    font-style: italic;
    src: url("../fonts/PanamaItalic.woff");
  }

  body {
    @apply text-blacker text-base md:text-base 2xl:text-lg  bg-cream font-serif antialiased;
  }

  p {
    @apply mt-2;
  }

  h2 {
    @apply text-2xl md:text-3xl xl:text-4xl 2xl:text-5xl text-black font-serif antialiased leading-tighter tracking-tight;
  }

  h1 {
    @apply text-black text-sm md:text-base xl:text-xl font-mono tracking-wider uppercase antialiased leading-tight mb-2;
  }

  h3 {
    @apply text-xl 2xl:text-2xl  text-black font-serif antialiased leading-tighter;
  }

  h4 {
    @apply text-red font-serif text-3xl md:text-4xl lg:text-5xl 2xl:text-6xl  antialiased leading-tighter tracking-tight;
  }

  a {
    /* @apply underline; */
  }
  /* Headings following paragraphs */
  p + h1,
  p + h2,
  p + h3,
  p + h4 {
    @apply pt-3 block;
  }

  ul {
    @apply list-outside list-disc;
  }

  .monotext {
    @apply text-sm xl:text-xl font-mono tracking-wider uppercase antialiased;
  }

  .navlinks {
    @apply z-30 block text-4xl md:text-5xl text-black mb-1 lg:mr-4 lg:font-mono lg:tracking-wider lg:uppercase lg:text-base no-underline lg:hover:underline  lg:inline-block lg:mt-0;
  }

  .img {
    transition: filter 1s;
    transition-property: filter;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
    will-change: filter;
    opacity: 1 !important;
  }
}
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section {
    @apply mt-20 md:mt-24 mx-3 lg:mx-10;
  }

  .mx-large {
    @apply mx-3 md:mx-5 lg:mx-48 2xl:mx-64;
  }

  .mx-medium {
    @apply mx-3 md:mx-12 xl:mx-24 2xl:mx-32;
  }

  .btm-margin-lg {
    @apply mb-20 lg:mb-24;
  }

  .top-margin-lg {
    @apply mt-20 md:mt-24;
  }

  .top-margin-medium {
    @apply mt-10 md:mt-12;
  }

  .top-margin-sm {
    @apply mt-3 2xl:mt-3;
  }

  .pdng {
    @apply px-8 py-6 2xl:py-10;
  }

  .section-center {
    @apply flex flex-wrap items-center justify-center;
  }

  .section-grid {
    @apply grid grid-cols-3 md:grid-cols-12 items-baseline justify-center;
  }

  .beige-card {
    @apply bg-beige rounded-xl px-6 py-10;
  }
  .accordion-item {
    @apply transition-all ease-linear duration-200 pointer-events-none delay-100;
    max-height: 0;
    height: 100% !important;
  }

  .accordion-item--open {
    max-height: 1000px;
    height: 100% !important;
    @apply transition-all ease-linear duration-200 pb-12 md:pb-16 xl:pb-12 delay-100;
  }

  .timeline {
    min-width: 1000px !important;
    width: 100%;
  }

  .title {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}
